<html lang="pt-br" xmlns:color="http://www.w3.org/1999/xhtml" xmlns:https="http://www.w3.org/1999/xhtml">
    <head>
        <title>Agenda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Link para o arquivo Bootstrap CS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>

        <div class="col-md-5 col-md-offset-7">
         <div class="modal-footer"><a class="btn btn-info" href="/logout">Logout</a></div>
        </div>
    <div id="main" class="container-fluid">
       <h2  class="page-header" style="color: #286090">Agenda</h2>
    </div>

  <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script><!-- Chama a biblioteca JQuery -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- Chama o arquivo Bootstrap JavaScript -->
    </body>
